@charset "UTF-8";

html{
     /* 드래그 방지 추가 */
     -ms-user-select: none;
     -moz-user-select: -moz-none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     user-select: none;
}

#te{
	width: 500px;
	height: 600px;
	margin: 0 auto;
	padding: 10px;
	background-color: ;
	
}
#ti{
	position: absolute;
	font-size: 25px;
	top: 170px;
}
#i{
	position: absolute;
	font-size: 16px;
	top: 240px;
}
#id{
	position: relative;
	font-size: 16px;
	top: 120px;
	width: 500px;
	height: 24px;
	display: inline-block;
}
#lbId{
	position: absolute;
	font-size: 16px;
	top: 310px;
	display: inline-block;
}
#checkId{
	position: relative;
	font-size: 16px;
	top: 180px;
	width: 500px;
	height: 60px;
	margin: auto;
	border-width: 0.01px;
	background-color:transparent;
	display: inline-block;
}
#next{
	position: relative;
	font-size: 16px;
	top: 190px;
	width: 500px;
	height: 60px;
	margin: auto;
	border-width: 0.01px;
	background-color:transparent;
	display: inline-block;
}