@charset "UTF-8";

#me{
background-color: #009999;
height:650px;

}

table{
    position:relative;
    top:30px;
    background:#fffafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.title{
    width:200px;
}

td{
    width:500px;
    text-align:left;
    padding-left:20px;
}
tr{
    height:55px;
}
input[type="submit"]{
    text-align: center;
    width: 200px;
    height: 40px;
    background: #FEFEFE;
    color: #009999;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
    position:relative;
    left:150px;
}

input[type="text"]{

    width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    text-indent: 10px;
}
input[type="password"]{
    width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    text-indent: 10px;
}
input[type="button"]{
    width:100px;
    height:30px;
    background: #FEFEFE;
    color: #009999;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 4px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}