@charset "UTF-8";

#me{
	width: 500px;
	height: 600px;
	margin: 0 auto;
	padding: 10px;
	background-color: ;
	
}
#ti{
	position: absolute;
	font-size: 25px;
	top: 170px;
	display: inline-block;
}
#p{
	position: absolute;
	font-size: 16px;
	top: 240px;
}
#pws{
	position: relative;
}
#pw{
	position: relative;
	font-size: 16px;
	top: 140px;
	width: 500px;
	height: 24px;
}
	
#change{
	position: absolute;
}
#lbPw{
	position: absolute;
	font-size: 16px;
	top: 310px;
	display: inline-block;
}