@charset "UTF-8";

table{
	padding: 30px 30px 10px;
    height: 300px;
}

th{
	width: 110px;
    text-align: left;
}

.inputNormal{
	width: 400px;
    height: 35px;
    border: 0;
    color: black;
    text-indent: 10px;
}

#checkLabel, #sendLabel{
	position:relative;
}

#emailChk, #emailSend{
	border-radius: 3px;
    position: absolute;
    width: 100px;
    height: 25px;
    left: 290px;
    text-align: center;
    margin-top: 5px;
    border: hidden;
}

button, #next {
  width: 50px;
  cursor: pointer;
}

#pw{
	position: relative;
	left:44px;
}

#openPw{
    position: absolute;
    right: 90px;
    margin-top: 10px;

}

#viewPw{
	position: relative;
    right: 52px;
    font-size: small;
}

#next{
	width: 200px;
    margin-bottom: 20px;
    height: 40px;
}