@charset "UTF-8";
* {
	margin:0 auto;
	padding:0;
	text-align: center;
	font-family:'Noto Sans KR';
}

a {
	text-decoration: none;
	color: #fffafa;
}

label {
	margin:0;
}

#logincontaner01, #logincontaner02 {
	background: #009999;
	height: 520px;
    border: 1px solid rgba(0, 153, 153, 0.5);
    padding-top: 50px;
    padding-bottom: 50px;
}

input {
	text-align: left;
}

body {
	background:#fffafa;
}
h3 {
	font-size: 40px;
	margin-bottom: 28px;
}

p {
	font-size: 20px;
}

.main {
	width: 100%;
	padding: 20px;
}

#contaner {
	width: 1300px;
    display: flex;
}

#contaner a {
	color: #F0FEFE;
    font-weight: 600;
    font-size: 18px;
}

.main div {
	display: inline-block;
}

.main label {
	display: inline-block;
	margin:0;
}

.main label:nth-child(1){
	padding:10px 15px 5px 15px;
}

.logBox, .loginHeader {
	width: 600px;
    background: #fffafa;
    color: #F0FEFE;
}

#loginBtn {
	width: 72px;
    height: 40px;
    background: #FEFEFE;
    color: #009999;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.main p {
	display: inline-block;
	font-size:15px;
}

.txtBtn:nth-child(2){
	padding-left:15px;
	border-left: 2px solid rgba(240, 254, 254, 1);
}

#id, #pw, #kid, #kemail {
    width: 300px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    text-indent: 10px;
}

#id {
	margin-left: 23px;
}

#pw{
	margin: 5px -5px 0px 0px;
	margin-left: 60px
}

#openPw {
	width: 17px;
    height: 18px;
    margin: 0px 0px 0px 10px;
    position: relative;
    top: 4px;
    right: 5px;
}

/* 여기서부터는 비회원 로그인 css style 입니다. ^O^  */
#kemail {
	display: inline-block;	
}

#kid, #kemail {
	margin: 10px 15px 5px 15px;
}

#kcontainer01 {
	margin-top: 28px;
}

#kcontainer02 {
	display: flex;
    justify-content: center;
    margin: 10px 10px 10px 0px;
    align-items: center;
}

#kcontainer02 input{
	width: 215px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    text-indent: 10px;
}

#kcontainer02 button, a{
	width: 55px;
    height: 32px;
    margin: 0;
    margin-left: 20px;
    color: #009999;
    font-weight: 700;
    font-size: 18px;
}

#kcontainer02 span {
	width: 50px;
	height: 35px;
    margin: 0;
}

#kcontainer03 {
	width: 300px;
	text-align: left;
}

#kcontainer03 input {
    width: 30px;
    height: 17px;
}

#kcell {
	padding-top: 15px;
    color: #F0FEFE;
    font-family: 'Sunflower';
	font-weight: 700;
    font-size: 18px;
}

#kcell span {
	font-size: 25px;
}

#kcell p {
	margin-top: 10px;
}

.telBox {
	margin-top: 20px;
	font-family: 'Sunflower';
	font-weight: 700;
    font-size: 18px;
}
#K-sns img {
	width:300px;
	height:50px;
}
#S-sns img{
	width:300px;
	height:50px;
}

#L-sns img {
	width:300px;
	height: 50px;
}

#snsbox {
	color:#F0FEFE;
	padding-top: 10px;
}
