@charset "UTF-8";

td{
	float:left;
}

#name, #phone, #email{
	width: 300px;
    height: 30px;
    border: 0;
    color: black;
    text-indent: 10px;
}

.findContainer{
	padding:30px;
}

.other{
	padding:20px;
}

#check{
	width: 100px;
    height: 66px;
    position: absolute;
    top: 39%;
    right: 29%;
}
#checkBtn01, #checkBtn02 {
	width: 10%;
    height: 50px;
    display: inline-block;
    margin: 0;
    border: 1px solid;
    margin-bottom: 30px;
}
.tableForm01 table tr:not(:nth-child(2)){
	width:150px;
	height:40px;
}
.tableForm01 span {
	font-family: 'Noto Sans KR';
	font-size: 18px;
}
.tableForm01 table tr:nth-child(2) {
	float: left;  
}
.radio01, .radio02 {
	position: relative;
    top: 25%;
}
