<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/resources/js/Main.js"></script>
<link rel="stylesheet" href="/WEB-INF/resources/css/Main.css">
<link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<h1>꿈을그린병원</h1>
	<h4>Green Hospital</h4>
	<h5>이이이이</h5>
</body>
</html>